@charset "UTF-8";

	#tableDiv{
		width: 70%;
		float:left";
	}
	table{
		border: 1px solid black;
		border-collapse: collapse;
		
	}
	th{
/* 		background: #537DC9; */
		border: 1px solid #d9d9d9;
		font-size: 20px;
		font-weight: bold;
		color: #fff;
	}
	td{
		border: 1px solid #d9d9d9;
		font-size: 18px;
		
	}