@charset "UTF-8";			
/* 공통 */
		a {
		  text-decoration: none;
		  color: #292e41;
		}
	    a:hover { color: #2d65f2; }
			
/* content */
		#container {
			width: 1280px;
			margin: 0px auto;
		}
/* navigation */
		#navigation {
			margin: 10px;
			float: left;
			width: 250px;
			height: 790px;
			font-size: 22px;
			text-align: center;
			background-color: #eff5ff;
		}
		#smallMenuBox {
			margin: 30px auto;
		    width: 180px;
		    height: 500px;
		}
		.smallMenuItem {
			margin-bottom: 35px;
			border-bottom: 2px solid #fff;
    		width: 180px;
    		height: 40px;
   			font-size: 18px;
		}
		.smallMenuItem a {
			color: #475067;
		}
/* content */
		#content {
			margin: 10px;
			float: left;
			width: 980px;
			font-size: 30px;
			background-color: #f8fafc;
		}
		#personalInfoBox, #companyInfoBox {
			background-color: #fff;
			padding: 20px;
			border-radius: 10px;
			width: 870px;
		    margin: 35px;
		    color: #5c667b;
		    box-shadow: 0px 1px 4px 0px #ddd;
		}
		#companyInfoBox {
			height: 330px;
		}
		.infoTitle {
			margin: 30px 0px 15px 35px;
			font-size: 23px;
   			font-weight: bold;
		}
		
		.infoTitleUpdate {
			margin: 0px 0px 20px 0px;
			font-size: 25px;
		}
		
		.personalInfoItemTitle, .companyInfoItemTitle {
			line-height: 50px;
			float: left;
			width: 200px;
			height: 50px;
			margin-left: 15px;
			font-size: 16px;
			font-weight: bold;
		}
		
		.personalInfoItemContent, .companyInfoItemContent {
			line-height: 50px;
			float: left;
			width: 500px;
			height: 50px;
			font-size: 16px;
		}
		.companyInfoItem {
			width: 870px;
		}
		.companyInfoItemTitleUpdate {
			line-height: 50px;
			float: left;
			width: 250px;
			height: 50px;
			margin-top: 5px;
			margin-left: 25px;
			font-size: 20px;
		}
		.companyInfoContentBox {
			float: left;
			width: 500px;
/* 			height: 300px; */
		}
		
		.companyInfoItemContentUpdate {
			line-height: 50px;
			float: left;
			width: 350px;
			height: 50px;
			font-size: 18px;
		}
		
		.companyInfoContent {
			margin-top: 7px;
			width: 470px;
/* 			height: 240px; */
			line-height: 35px;
			font-size: 18px;
		}
		
		.arrowBox {
			height: 50px;
		}
		
		.button {
			float: left;
			height: 50px;
		}
/* tail form */
		#tailBox {
			height: 150px;
			background-color: #b4c0d3;
			text-align: center;
		}
		#tailContent {
				
			width: 1280px;
			height: 130px;
			margin: auto;
		}
		#teamName {
			font-size: 50px;
			font-weight: 800;
			color: #999999;
		}