@charset "UTF-8";

body {
	text-align: center;	
}
#introImgBox {
	padding-top: 200px;
	height: 800px;	
}
.seviceDetail {
	height: 1000px;	
	border: 1px solid black;
}
#mentBox {
	padding-top: 400px;
	height: 600px;
	background-color: #eff5ff;
	color: #292e41;
}
#mentBox > #comment {
	font-size: 40px;
	height: 100px;
}
#mentBox > #logoBox {
	font-size: 60px;
	height: 300px;
	text-align: center;
}
#goLoginBox {
	padding: 400px 200px;
	font-size: 20px;
	height: 200px; 
}
#loginMent {
	font-size: 38px;
    height: 90px;
	color: #292e41;
}
#buttonBox {
	width: 600px;
	height: 160px;
	margin: 0px auto;	
}
input {
	float: left;
	margin: 40px 50px;
	width: 200px;
    height: 80px;
    background-color: #4876ef;
    border: none;
    border-radius: 10px;
    font-size: 30px;
    font-weight: bold;
    color: #fff;
    cursor: pointer;
    box-shadow: 0px 1px 4px 0px #BDBDBD;
}
