@charset "UTF-8";
	#backGround {
		width: 1910px;
		height: 900px;
	}
	
	#logoutForm {
		
		background-color: white; 
		width: 400px;
		height: 500px;
		margin: auto;
	}
	#logoutHeaderForm{
		border: 1px solid #deebff;
		background-color: #94b5fc;
	}
	.logoutHeaderForm {
		color: black;
		font-size: 30px;
		width: 370px;
		margin: auto;
	}
	
	#centerForm{
		border: 1px solid #deebff;
		height: 160px;
	}
	.centerForm{
		color: #000;
		font-size: 25px;
		width: 350px;
		height: 250px;
		margin: auto;
	}
	
	#buttonForm{
		background-color: white;
	}
	.buttonForm{
		width: 300px;
		height: 100px;
		margin: auto;
	}
	
	.yesButton > input {
		background-color : #94b5fc;
		font-size: 20px;
		width: 100px;
		height:60px;
		float: left;
	}
	.noButton > input {
		background-color : #94b5fc;
		font-size: 20px;
		width: 100px;
		height:60px;
		float: right;
	}