@charset "UTF-8";
/* 공통 */
		a {
		  text-decoration: none;
		  color: #292e41;
		}
	    a:hover { color: #2d65f2; }
			
/* head form */
		#headerBox {
			height: 130px;
			border-bottom: 1px solid #b4c0d3;
		}
		#headerContent {
				
			margin: 0px auto;
			width: 1280px;
			height: 120px;
		}
/* logo */
		#logo {
			float: left;
			margin: 0px 90px;
			width: 74px;
			height: 111px;
		}
/* main menu */
		#mainMenuBox {
			float: left;
			width: 750px;
			height: 100px;
			margin-left: 30px;
		}
		.mainMenuItem {
			float: left;
			margin: 20px;
			width: 200px;
			height: 60px;
			text-align: center;
			line-height: 60px;
			font-size: 30px;
			font-weight: 600;
		}
/* message */
		#myMessageBox {
			float: left;
			width: 100px;
			height: 100px;
			text-align: center;
		}
		
		#chatImage {
			width: 70px;
			height: 70px;
			margin-top: 20px;
			margin-right: 50px;
		}
/* my menu */
		#myMenuBox {
			float: left;
			width: 140px;
			height: 100px;
			text-align: center;
		}
/* end of header */

/* content */
		#container {
			width: 1280px;
			height: 630px;
			margin: 0px auto;
		}
/* navigation */
		#navigation {
			margin: 10px;
			float: left;
			width: 250px;
			height: 600px;
			font-size: 22px;
			text-align: center;
			background-color: #eff5ff;
		}
		#smallMenuBox {
			margin: 30px auto;
			width: 180px;
			height: 500px;
		}
		.smallMenuItem {
			margin-bottom: 35px;
			border-bottom: 2px solid #fff;
   			width: 180px;
   			height: 40px;
		}
		.smallMenuItem a {
			color: #475067;
		}
/* content */
		#content {
			margin: 10px;
			float: left;
			width: 980px;
			height: 600px;
			font-size: 30px;
			background-color: #f8fafc;
		}
		#personalInfoBox, #companyInfoBox {
			background-color: #fff;
			padding: 20px;
			border-radius: 10px;
			width: 910px;
		    height: 250px;
		    margin: 15px;
		    color: #5c667b;
		}
		#companyInfoBox {
			height: 110px;
		}
		.infoTitle {
			margin: 15px 0px 0px 35px;
			font-size: 25px;
		}
		.infoTitleUpdate {
			margin-top: 3px;
			color: #000;
			font-size: 32px;
		}
		#selectKeyword {
		}
		.selectKeyword {
			margin-top: 28px;
			margin-left: 10px;
			font-size: 25px;
		}
		
		.personalInfoItemTitleUpdateCheckBox {
			float: left;
			width: 550px;
			height: 50px;
			margin-top: 20px;
			margin-left: 15px;
			font-size: 20px;
			line-height: 50px;
		}
		.personalInfoItemTitleUpdateCheckBox > label {
			padding-left: 20px;
		}
		
		.personalInfoItemTitle, .companyInfoItemTitle {
			line-height: 50px;
			float: left;
			width: 200px;
			height: 50px;
			margin-left: 15px;
			font-size: 20px;
		}
		.personalInfoItemContent, .companyInfoItemContent {
			line-height: 50px;
			float: left;
			width: 500px;
			height: 50px;
			font-size: 18px;
		}
		
		.personalInfoItemTitleUpdate {
			float: left;
			width: 150px;
			height: 50px;
			margin-left: 15px;
			font-size: 20px;
			line-height: 50px;
		}
		.personalInfoItemUpdate {
			float: left;
			width: 320px;
			height: 50px;
			font-size: 18px;
			margin-top: 10px;
		}
		.personalInfoItemUpdate > input {
			width: 250px;
		}
		
		#buttonBox {
			float: left;
			width: 100px;
			height: 50px;
			margin-top: -2px;
		}
		
		#buttonBox > button {
			width: 100px;
		}
		
		#buttonBoxUpdate {
			margin:auto;
			width: 100px;
			height: 50px;
		}
		
		#buttonBoxUpdate > button {
			width: 100px;
			height: 50px;
		}
		
		#backButtonBox {
			margin-top: -2px;
			float:left;
			width: 100px;
			height: 30px;
		}
		
		#backButtonBox > button {
			margin-left: 20px;
			width: 100px;
		}
		
		#keyWordBackButtonBox {
			margin-top: 10px;	
			float: left;
			width: 100px;
			height: 50px;
		}
		
		#keyWordBackButtonBox > button {
			margin-left: 5px;
			width: 100px;
			height: 50px;
		}
		
		.arrowBox {
			height: 50px;
		}
/* tail form */
		#tailBox {
			height: 150px;
			background-color: #b4c0d3;
			text-align: center;
		}
		#tailContent {
				
			width: 1280px;
			height: 130px;
			margin: auto;
		}
		#teamName {
			font-size: 50px;
			font-weight: 800;
			color: #999999;
		}