@charset "UTF-8";
/* content */
#container {
	width: 1280px;
	height: 1000px;
	margin: 0px auto;
}
/* navigation */
#navigation {
	margin: 10px;
	float: left;
	width: 250px;
	height: 950px;
	font-size: 25px;
	text-align: center;
	background-color: #d7dce5;
}

#smallMenuBox {
	margin: 30px auto;
	width: 200px;
	height: 500px;
}

.smallMenuItem {
	margin-bottom: 35px;
	border-bottom: 2px solid #fff;
 	width: 180px;
 	height: 40px;
 	font-size: 18px;
}

.smallMenuItem a {
	color: #475067;
}
/* content */
#content {
	margin: 10px;
	float: left;
	width: 980px;
	height: 950px;
	font-size: 30px;
	background-color: #f8fafc;
}

.preferInfoContent {
	margin-top: 7px;
	width: 470px;
	height: 240px;
	line-height: 35px;
	font-size: 18px;
}
.infoTitle {
    margin: 30px 0px 15px 35px;
    font-size: 23px;
    font-weight: bold;
}
#preferItemsBox {
	background-color: #fff;
    padding: 20px;
    border-radius: 10px;
    width: 870px;
    height: 250px;
    margin: 35px;
    color: #5c667b;
    box-shadow: 0px 1px 4px 0px #ddd;
}
.preferItems {
    line-height: 50px;
    width: 850px;
    height: 50px;
    margin-left: 15px;
    margin-bottom: 14px;
    font-size: 20px;
    clear: left;
}
.preferName {
	float: left;
	width: 150px;
	font-size: 18px;
}
#totalRate {
	float: right;
	margin-right: 50px;
	font-size: 16px;
}
.weightingPercentage {
	float: left;
	width: 250px;
    font-size: 18px;
}
.weightingSelected {
	float: left;
	width: 200px;
    font-size: 14px;
}
input[type=button] {
    width: 90px;
    height: 40px;
    margin: 5px 0px 30px 452px;
    background-color: #4876ef;
    border: none;
    border-radius: 12px;
    box-shadow: 0px 1px 4px 0px #ddd;
    font-size: 16px;
    font-weight: bold;
    color: #fff;
    cursor: pointer;
}
/* input[type=text] { */
	
/* } */
.preferList{
	width: 150px;
	border: none;
	margin-left: 5px;
	border-radius: 10px;
	height: 30px;
	background-color: inherit;
	box-shadow: 0px 1px 4px 0px #ddd;
}
.preferListRate{
	font-size: 20px;
	margin-left: 17px;
	width: 30px;
	border: none;
	background-color: inherit;
}
#checkBoxModal{
	width: 530px;
	height: 550px;
	display: none;
	position: absolute;
	left: 54%;
	top: 23%;
	border: 1px solid black;
	background-color: #f8fafc;
}
#checkBoxModal input[type=button]{
	clear: both;
	width: 100px;
	margin: auto;
}
#checkBoxModal div{
	width: 450px;
	margin: 20px auto;
	border: 1px solid #d7dce5;
	border-radius: 5px;
}
#checkBoxModal div div{
	width: 150px;
	margin: auto;
	text-align: center;
	background-color: #d7dce5;
	border-radius: 5px;
}
.salBtn{
	margin: 10px;
}
#perferSubmitBtn {
	margin: 0px auto;
	width: 90px;
	height: 40px;	
}