@charset "UTF-8";
		@import url(//netdna.bootstrapcdn.com/font-awesome/3.2.1/css/font-awesome.css);
/* container */
	#container {
		width: 1280px;
		height: 840px;
		margin: 0px auto;
	}
/* navigation */
	#navigation {
		margin: 10px;
		float: left;
		width: 250px;
		font-size: 22px;
		text-align: center;
		background-color: #eff5ff;
	}
	#smallMenuBox {
		margin: 30px auto;
	    width: 180px;
	    height: 500px;
	}
	.smallMenuItem {
		margin-bottom: 35px;
		border-bottom: 2px solid #fff;
   		width: 180px;
   		height: 40px;
   		font-size: 18px;
	}
	.smallMenuItem a {
		color: #475067;
	}
/* content */
	#content {
		margin: 10px;
		float: left;
		width: 980px;
		font-size: 30px;
		background-color: #f8fafc;
	}
	#content > div, .reviewItem {
		background-color: #fff;
		padding: 20px;
		box-shadow: 0px 1px 4px 0px #ddd;
	}
	#companyInfoBox, #reviewAverage, .reviewItem {
		border-radius: 25px;
		
	}
	#companyInfoBox {
		width: 910px;
		height: 160px;
		margin: 14px auto 0px auto;
	}
/* 		#companyPhoto { */
/* 				 */
/* 			width: 945px; */
/* 			height: 195px; */
/* 			margin: auto; */
/* 		} */
	#companyLogo {
		float: left;
		width: 130px;
		height: 130px;
		margin: 10px;
		display: flex;
   		align-items: center;
	}
	#companyLogo > img {
		width: 130px;
		height: auto;
	}
	#companySummary {
		float: left;
	    width: 617px;
	    height: 122px;
	    margin: 20px;
	    color: #5c667b;
	    overflow: auto;
	}
	#companyDetail {
		float: left;
		width: 90px;
		height: 100px;
		margin: 50px 0px;
	}
	button {
		width: 100px;
	    height: 40px;
	    background-color: #4876ef;
	    border: none;
	    border-radius: 10px;
	    font-size: 16px;
	    font-weight: bold;
	    color: #fff;
	    cursor: pointer;
	}
	#companyNameBox {
		margin-bottom: 10px;
	}
	#companyTypeBox, #companyHomepageBox {
		float: left;
		width: 600px;
		font-size: 20px;
		margin-bottom: 10px;
		color: #8491a7;
	}
	#companyTypeBox {
		
	}
	#companyHomepageBox {
		
	}
	#companyName {
		
	}
	#companyType {
		
	}
	#companyHomepage {
		
	}
	#emptyReviewList{
		background-color: #fff;
	    padding: 20px;
	    box-shadow: 0px 1px 4px 0px #ddd;
	    border-radius: 25px;
	    width: 910px;
	    height: 80px;
	    line-height: 75px;
	    margin: 14px auto 0px auto;
	    text-align: center;
	    color: #475067;
	    font-size: 22px
	}
	
	#totalRate {
		float: left;
	}
	#companyInfo {
		float: left;
		width: 90px;
		height: 50px;
	}
	#reviewAverage, .reviewItem {
		font-size: 18px;
	}
	#reviewAverage {
		width: 910px;
		height: 200px;
		margin: 30px auto;
		color: #5c667b;
	}
	#reviewAverageRate {
		width: 300px;
		height: 40px;
		font-size: 25px;
		line-height: 40px;
	}
	#averageBox {
		float: left;			
		margin-left: 6px;
		font-size: 20px;
		font-weight: 600;
	}
	.starRateBox {
		float: left;
		margin-top: 5px;
		width: 250px;
		height: 150px;
	}
	.starRateBox > div {
		margin-top: 5px;
	}
	.starRateBox > div > span {
		width: 90px;
		text-align: center;
	}
	.starNameBox {
		float: left;
		width: 100px;
		text-align: justify;
	}
	.fas.fa-star {
    	font-size: 13px;
	}
	.totalRate {
		float: right;
		width: 300px;
		height: 120px;
		line-height: 120px;
		font-size: 30px;
	}
	.reviewTitleBox {
		float: left;
		margin-bottom: 20px;
		width: 610px;
		height: 30px;
		font-size: 25px;
		color: #292e41
	}
	.reviewContentBox {
		float: left;
		width: 610px;
		height: 110px;
		color: #292e41;
	}
	.reviewShowMoreBox {
		width: 45px;
	    height: 25px;
	    background-color: #4876ef;
	    border: none;
	    border-radius: 25px;
	    font-size: 30px;
	    line-height: 10px;
	    font-weight: 700;
	    color: #fff;
	    cursor: pointer;
	}
	#showMoreOptionBox {
		display: none;
		float: left;
	    width: 100px;
	    height: 80px;
	    border: 1px solid #b4c0d3;
	    border-radius: 20px;
	    background-color: #fff;
	    box-shadow: 0px 1px 4px 0px #ddd;
	}
	#showMoreCloseBox {
	    font-size: 15px;
	    text-align: right;
	    cursor: pointer;
	    font-weight: bold;
	}
	.showMoreOptionItems {
		text-align: center;
		margin: 2px 0px;
		cursor: pointer;
	}
	#showMoreOptionDelete {
		color: red;
	}
	#deleteConfirmBox {
	display: none;
		float: left;
	    width: 180px;
	    height: 65px;
	    border: 1px solid #b4c0d3;
	    border-radius: 20px;
	    background-color: #fff;
	    box-shadow: 0px 1px 4px 0px #ddd;
	    text-align: center;
	    line-height: 30px;
	}
	.deleteAnswerItems {
		float: left;
		margin: 0px 15px;
		width: 60px;
	    height: 30px;
        font-size: 15px;
	    cursor: pointer;
        font-weight: bold;
	}
	#deleteYes {
		color: red;
	}
	.reviewItem {
		width: 910px;
		height: 160px;
		margin: 30px auto;
		color: #5c667b;
		box-shadow: 0px 1px 4px 0px #ddd;
	}
	#extraDiv {
		width: 1080px;
		height: 160px;
	}
	nav {
		margin-bottom: 30px;
	}
