@charset "UTF-8";
#navigation {
	margin: 10px;
	float: left;
	width: 250px;
	height: 740px;
	font-size: 22px;
	text-align: center;
	background-color: #eff5ff;
}
#smallMenuBox {
		
	margin: 30px auto;
	width: 200px;
	height: 500px;
}
.smallMenuItem {
	margin-bottom: 35px;
	border-bottom: 2px solid #fff;
    width: 180px;
    height: 40px;
}
.smallMenuItem a {
	color: #475067;
}