@charset "UTF-8";
#navigation {
	margin: 10px;
	float: left;
	width: 250px;
	height: 770px;
	font-size: 22px;
	text-align: center;
	background-color: #eff5ff;
}
#smallMenuBox {
	margin: 30px auto;
	width: 200px;
	height: 500px;
}
.smallMenuItem {
	margin-bottom: 35px;
	border-bottom: 2px solid #fff;
    width: 200px;
    height: 40px;
   	font-size: 18px;
}
.smallMenuItem a {
	color: #475067;
}
#navComName {
	font-size: 20px;
	font-weight: bold;
	color: #747474;
	height: 40px;
}